<div class="employeeTemplateForm">
  <h1>Employee Details</h1>
  <form #loginForm="ngForm" *ngIf="employee">
    <div>
      <mat-form-field appearance="fill">
        <mat-label> Name</mat-label>
        <input
          matInput
          [(ngModel)]="employee.name"
          name="name"
          minlength="3"
          maxlength="30"
          required
          pattern="[a-zA-Z ]*"
          #nameInput="ngModel"
        />
      </mat-form-field>
      <div
        class="validationError"
        *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
      >
        <div *ngIf="nameInput.errors?.['required']">Name is required.</div>
        <div *ngIf="nameInput.errors?.['minlength']">
          Name must be at least 3 characters long
        </div>
        <div *ngIf="nameInput.errors?.['maxlength']">
          Name must not be more than 30 characters long
        </div>
        <div *ngIf="nameInput.errors?.['pattern']">
          Name must contain only letters
        </div>
      </div>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="employee.address"
          name="address"
          minlength="3"
          maxlength="30"
          required
          #addressInput="ngModel"
        />
      </mat-form-field>
      <div
        class="validationError"
        *ngIf="
          addressInput.invalid && (addressInput.dirty || addressInput.touched)
        "
      >
        <div *ngIf="addressInput.errors?.['required']">Name is required.</div>
        <div *ngIf="addressInput.errors?.['minlength']">
          Name must be at least 3 characters long
        </div>
        <div *ngIf="addressInput.errors?.['maxlength']">
          Name must not be more than 30 characters long
        </div>
      </div>
    </div>

    <p></p>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [(ngModel)]="employee.email"
        name="email"
        minlength="3"
        maxlength="30"
        pattern="^[a-z0-9._%+-]+@gmail.com"
        required
        #emailInput="ngModel"
      />
    </mat-form-field>
    <div
      class="validationError"
      *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
    >
      <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
      <div *ngIf="emailInput.errors?.['minlength']">
        Email must be at least 3 characters long
      </div>
      <div *ngIf="emailInput.errors?.['maxlength']">
        Email must not be more than 30 characters long
      </div>
      <div *ngIf="emailInput.errors?.['pattern']">
        Email must be a Gmail address with @gmail.com domain.
      </div>
    </div>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="employee.role"
        name="role"
        minlength="3"
        maxlength="30"
        required
        #roleInput="ngModel"
      />
    </mat-form-field>
    <div
      class="validationError"
      *ngIf="roleInput.invalid && (roleInput.dirty || roleInput.touched)"
    >
      <div *ngIf="roleInput.errors?.['required']">Role is required.</div>
      <div *ngIf="roleInput.errors?.['minlength']">
        Role must be at least 3 characters long
      </div>
      <div *ngIf="roleInput.errors?.['maxlength']">
        Role must not be more than 30 characters long
      </div>
    </div>
    <mat-form-field>
      <mat-label>Contact Number</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="employee.contact"
        name="contact"
        minlength="3"
        maxlength="30"
        pattern="[0-9]*"
        required
        #contactInput="ngModel"
      />
    </mat-form-field>
    <div
      class="validationError"
      *ngIf="
        contactInput.invalid && (contactInput.dirty || contactInput.touched)
      "
    >
      <div *ngIf="contactInput.errors?.['required']">Contact is required.</div>
      <div *ngIf="contactInput.errors?.['minlength']">
        Contact must be at least 3 number long
      </div>
      <div *ngIf="contactInput.errors?.['maxlength']">
        Contact must not be more than 30 numbers long
      </div>
      <div *ngIf="contactInput.errors?.['pattern']">
        Contact must contain only numbers
      </div>
    </div>
    <mat-form-field>
      <mat-label>Salary</mat-label>
      <input
        type="text"
        matInput
        [(ngModel)]="employee.salary"
        name="salary"
        minlength="3"
        maxlength="30"
        pattern="[0-9]*"
        required
        #salaryInput="ngModel"
      />
    </mat-form-field>
    <div
      class="validationError"
      *ngIf="salaryInput.invalid && (salaryInput.dirty || salaryInput.touched)"
    >
      <div *ngIf="salaryInput.errors?.['required']">Contact is required.</div>
      <div *ngIf="salaryInput.errors?.['minlength']">
        Contact must be at least 3 number long
      </div>
      <div *ngIf="salaryInput.errors?.['maxlength']">
        Contact must not be more than 30 number long
      </div>
      <div *ngIf="salaryInput.errors?.['pattern']">
        Salary must contain only numbers
      </div>
    </div>
    <button
      mat-raised-button
      color="accent"
      [disabled]="loginForm.invalid"
      (click)="addEmployee(loginForm)"
    >
      Add Employee
    </button>
  </form>
</div>

<!--!  -->
<div class="tableContainer">
  <div class="fullTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Employee No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contact.No</th>
          <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
        </ng-container>
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editRow(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteEmployee(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
