.employeeTemplateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.employeeTemplateForm form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.validationError {
  color: red;
  font-size: 10px;
}
