<!-- ! EMPLOYEE DETAILS -->

<div class="addingEmployee">
  <h1>Add New Employee</h1>
  <form [formGroup]="employeeForm" class="formPage">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>FirstName</mat-label>
        <input
          matInput
          formControlName="firstName"
          type="text"
          minlength="3"
          maxlength="15"
          required
          pattern="[a-zA-Z ]*"
        />
      </mat-form-field>
      <div
        *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="alert"
      >
        <div *ngIf="firstName.errors?.['required']">FirstName is required.</div>
        <div *ngIf="firstName.errors?.['minlength']">
          FirstName must be at least 3 characters long.
        </div>
        <div *ngIf="firstName.errors?.['minlength']">
          FirstName must be upto 15 characters long.
        </div>
        <div *ngIf="firstName.errors?.['pattern']">
          FirstName should only contain characters.
        </div>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>LastName</mat-label>
        <input
          type="text"
          matInput
          formControlName="lastName"
          name="lastName"
          minlength="3"
          maxlength="15"
          required
          pattern="[a-zA-Z ]*"
        />
      </mat-form-field>
      <div
        *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        class="alert"
      >
        <div *ngIf="lastName.errors?.['required']">LastName is required.</div>
        <div *ngIf="lastName.errors?.['minlength']">
          LastName must be at least 3 characters long.
        </div>
        <div *ngIf="lastName.errors?.['maxlength']">
          LastName should be upto 15 characters long.
        </div>
        <div *ngIf="lastName.errors?.['pattern']">
          LastName should only container charcters.
        </div>
      </div>
    </div>
    <!-- ! -->

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Salary</mat-label>
        <input
          type="text"
          matInput
          name="salary"
          minlength="3"
          pattern="[0-9]*"
          formControlName="salary"
        />
      </mat-form-field>

      <div
        *ngIf="salary.invalid && (salary.dirty || salary.touched)"
        class="alert"
      >
        <div *ngIf="salary.errors?.['required']">salary is required.</div>

        <div *ngIf="salary.errors?.['pattern']">
          Salary should only contain numbers.
        </div>
      </div>
    </div>

    <!-- ! -->
    <div>
      <mat-form-field appearance="outline">
        <mat-label> Positions</mat-label>
        <input
          matInput
          type="text"
          formControlName="position"
          minlength="3"
          required
          pattern="[a-zA-Z ]*"
        />
      </mat-form-field>
      <div
        *ngIf="position.invalid && (position.dirty || position.touched)"
        class="alert"
      >
        <div *ngIf="position.errors?.['required']">Position is required.</div>
        <div *ngIf="position.errors?.['minlength']">
          position must be at least 3 characters long.
        </div>
        <div *ngIf="position.errors?.['pattern']">
          position should only contain characters .
        </div>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>address</mat-label>
        <input
          matInput
          formControlName="address"
          minlength="3"
          required
          pattern="[a-zA-Z ]*"
        />
      </mat-form-field>
      <div
        *ngIf="address.invalid && (address.dirty || address.touched)"
        class="alert"
      >
        <div *ngIf="address.errors?.['required']">address is required.</div>
        <div *ngIf="address.errors?.['minlength']">
          address must be at least 3 characters long.
        </div>
      </div>
    </div>
    <!-- ! -->
    <div>
      <ng-container formArrayName="hobbies">
        <ng-container
          *ngFor="let hobbiesform of hobbies.controls; let i = index"
        >
          <div [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Hobby</mat-label>
              <input
                matInput
                formControlName="hobby"
                name="hobby"
                pattern="[a-zA-Z\s]+"
              />
            </mat-form-field>
            <button mat-mini-fab (click)="addHobby()">
              <mat-icon>add</mat-icon>
            </button>
            <mat-icon (click)="removeItem(i)"> delete_forever</mat-icon>
            <mat-error
              *ngIf="
                hobbiesform.get('hobby')?.hasError('required') &&
                (hobbiesform.dirty || hobbiesform.touched)
              "
            >
              Enter you hobby
            </mat-error>
            <mat-error
              *ngIf="
                hobbiesform.get('hobby')?.hasError('pattern') &&
                (hobbiesform.dirty || hobbiesform.touched)
              "
            >
              Hobby Should only contain letter
            </mat-error>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </form>
  <div class="actionButtons">
    <button
      mat-raised-button
      color="accent"

      (click)="isUpdate ? onUpdateEmployee() : onAddEmployee()"
    >
      {{ isUpdate ? "Update" : "Add Employee" }}
    </button>
  </div>
</div>
<!--    [disabled]="employeeForm.invalid" -->
<!--!  TABLE -->
<div class="tableContainer">
  <div class="fullTable">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="emp_id">
          <th mat-header-cell *matHeaderCellDef>Employee No.</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef>FirstName</th>
          <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef>LastName</th>
          <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
        </ng-container>
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef>Salary</th>
          <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Position</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>address</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>
        <div>
          <ng-container matColumnDef="hobbies">
            <th mat-header-cell *matHeaderCellDef>Hobby</th>
            <td mat-cell *matCellDef="let element">
              <ul>
                <li *ngFor="let hobby of element.hobbies">
                  {{ hobby.hobby }}
                </li>
              </ul>
            </td>
          </ng-container>
        </div>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editRow(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteEmployee(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
