table {
  width: 100%;
}
.addingEmployee {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  margin-top: 100px;
}
.actionButtons {
  margin-top: 50px;
}
.formPage {
  width: 60%;
  display: flex;

  flex-wrap: wrap;

  gap: 20px;
}
.alert {
  color: red;
  font-size: 10px;
  font-weight: 1px;
}
.hobbies {
  background-color: rgb(251, 251, 251);
}
