<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>LOG IN</h1>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>

    <input matInput FormGroupName formControlName="password" />
  </mat-form-field>

  <section>
    <mat-checkbox class="example-margin">Remember Me!</mat-checkbox>
  </section>
  <div class="loginButtons">

  <button
    mat-raised-button
    color="accent"
    routerLink="/employee"
    (click)="onSubmit()"
  >
    ReactiveForm Login
  </button>
  <button mat-raised-button color="primary" routerLink="/template-driven">
    TemplateDriven Login
  </button>
</div>

</form>
