:host {
  display: flex;

  align-items: center;
  justify-content: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.loginButtons{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap:20px;
}
