<div class="mainClass">
  <div class="searchable">
    <mat-toolbar color="primary">
      <div class="toolbar">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Searchable Design</span>

      <div class="logout">
        <button (click)="onloggedOut()" routerLink="/login">Logout</button>
      </div>
    </div>

    </mat-toolbar>
  </div>
</div>

<router-outlet></router-outlet>
